apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: jenkins
type: Opaque
data:
  aws-access-key-id: <REPLACE_WITH_BASE64_ENCODED_ACCESS_KEY>
  aws-secret-access-key: <REPLACE_WITH_BASE64_ENCODED_SECRET_KEY>
---
apiVersion: v1
kind: Secret
metadata:
  name: github-token
  namespace: jenkins
type: Opaque
data:
  token: <REPLACE_WITH_BASE64_ENCODED_GITHUB_TOKEN>